<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
      	<div class="col-md-9" style="text-align: center; color: #0900c7">
      		<h4 id="svdmsg"></h4>
      	</div>
      	<div class="col-md-3">
      		<input type="text" [(ngModel)] = "name" (ngModelChange)="onChange($event)" placeholder="Search Player">
      		<span class="glyphicon glyphicon-search"></span>
      	</div>
      </div>
      <div class="row">
      	<div class="col-md-5">
      		<ul class="nav navbar-nav">
				<li style="color: blue"><strong>{{TeamName}}</strong></li>
				<li><strong>Budget : {{budget}}</strong></li>
		        
		        <li></li>
			</ul>
      	</div>
      	<div class="col-md-2">
      		<button type="button" *ngIf="!upbtn; else upTemplate" [disabled]= "!svbtn" class="btn btn-success" (click)="save()">SAVE TEAM</button>
      		<ng-template #upTemplate><button type="button" [disabled]= "!svbtn" class="btn btn-success" (click)="update()">Update</button></ng-template>
      	</div>
      	<div class="col-md-5">
      		
      	</div>
      </div>
     <div class="row">
      	<div class="col-md-7">
      		<div class="btn-group">
			    <div class="btn-group" id="btSB" >
			      <button type="button" id="SB" class="btn btn-primary dropdown-toggle" style="background-color: red;" data-toggle="dropdown">
			      Squad Balance <span class="caret"></span></button>
			      <ul class="dropdown-menu" role="menu">
			        <li id="sbd" [style.background-color]="(SBPlayers == 11)? '#2dcd06' : '#f5f991'">
			        	{{SBPlayers}} Taken <br>
					    11 Players
					    <span id="sbi" [class]="(SBPlayers == 11)? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-warning-sign'"></span>
			        </li>
			        <li id="sbbtsmn" [style.background-color]="(SBBatsmen == 4 || SBBatsmen == 5 )? '#2dcd06' : '#91f9bd'">
			        	{{SBBatsmen}} Taken <br>
					    4-5 Batsmen
					    <span id="sbbtsmni" [class]="(SBBatsmen == 4 || SBBatsmen == 5 )? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-warning-sign'"></span>
			        </li>
			        <li id="sbk" [style.background-color]="(SBKeepers == 1)? '#2dcd06' : '#f5f991'">
			        	{{SBKeepers}} Taken <br>
					    1 Keeper
					    <span id="sbki" [class]="(SBKeepers == 1)? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-warning-sign'"></span>
			        </li>
			        <li id="sbar" [style.background-color]="(SBAllRounders >= 1 && SBAllRounders <= 4)? '#2dcd06' : '#91f9bd'">
			        	{{SBAllRounders}} Taken <br>
					    1-4 All Rounders
					    <span id="sbari" [class]="(SBAllRounders >= 1 && SBAllRounders <= 4)? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-warning-sign'"></span>
			        </li>
			        <li id="sbb" [style.background-color]="(SBBowlers >= 2 && SBBowlers <= 4)? '#2dcd06' : '#f5f991'">
			        	{{SBBowlers}} Taken <br>
					    2-4 Bowlers
					    <span id="sbbi" [class]="(SBBowlers >= 2 && SBBowlers <= 4)? 'glyphicon glyphicon-ok-circle' : 'glyphicon glyphicon-warning-sign'"></span>
			        </li>
			      </ul>
			    </div>
			    <div class="btn-group" id="btFS">
			      <button type="button" id="FS" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: #1c9016;">
			      Franchise Spread<span class="caret"></span></button>
			      <ul class="dropdown-menu" role="menu">
			        <li>Franchise Limit Exceeded(Max 6)</li>
			      </ul>
			    </div>
			    <div class="btn-group" id="btOL" >
			      <button type="button" id="OL" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: green;">
			      Overseas Limit<span class="caret"></span></button>
			      <ul class="dropdown-menu" role="menu">
			        <li>{{OSNationality}} Foreign Players (Max 4)</li>
			      </ul>
			    </div>
			    <div class="btn-group" id="btUQ" >
			      <button type="button" id="UQ" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: red ;">
			      Uncapped Quota<span class="caret"></span></button>
			      <ul class="dropdown-menu" role="menu">
			        <li>Uncapped (1)</li>
			      </ul>
			    </div>
			</div>
      	</div>
      	<div class="col-md-5">
      		<select [(ngModel)]="selectedValueR" (ngModelChange)="onChangeRole($event)">
			    <option value="All Roles">All Roles</option>
			    <option value="Batsman">Batsman</option>
			    <option value="Bowler">Bowler</option>
			    <option value="Wicket-keeper">Wicket Keeper</option>
			    <option value="All-rounder">All Rounder</option>
			 </select>
			 <span>
			 	<select [(ngModel)]="selectedValueT" (ngModelChange)="onChangeType($event)">
				    <option value="All Types">All Types</option>
				    <option value="Uncapped">Uncapped</option>
				    <option value="Indian">Indian</option>
				    <option value="Overseas">Overseas</option>
				 </select>
			 </span>
			 <span>
			 	<select [(ngModel)]="selectedValueTeam" (ngModelChange)="onChangeTeam($event)">
			 		<option value="All Team">All Team</option>
			    	<option *ngFor="let t of team" [value]="t">{{t}}</option>
			    </select>
			 </span>
      	</div>
      </div> 

      <div class="row">
		<div class="col-md-7">
			 <table id="t02" class = "table table-striped table-condensed" style="width:100%; border: 1px solid black;">
				<tr>
					<th>Sr.No.</th>
				    <th>Player</th>
				    <th>Role</th>
				    <th>Nationlty</th>
				    <th></th>
				    <th>Cost</th>
				    <th>Team</th>
				    <th></th>
				</tr>
				<tr *ngFor = "let team of NewTeam; let i=index">
				    <td>{{i+1}}</td>
				    <td>{{team.name}}</td>
				    <td>{{team.role}}</td>
				    <td>{{team.Nationality}}</td>
				    <td *ngIf="team.IsUncapped">UnC</td>
				    <td *ngIf="!team.IsUncapped">Cp</td>
				    <td>{{team.cost}}</td>
				    <td>{{team.team}}</td>
				    <td><button (click)="removePlayer(team)"><span class="glyphicon glyphicon-remove"></span></button></td>
				</tr>
				
			</table> 
		</div>
		<div class="col-md-5">
			<table class="table table-condensed" id="t01" style="width:100%; border: 1px solid black;">
				<caption>Select Player</caption>
				<thead>
					<tr>
					    <th style="width:21.5%">Player</th>
					    <th style="width:15%">Role</th>
					    <th style="width:22.5%">Nationlty</th>
					    <th style="width:5%"></th>
					    <th style="width:14%">Cost</th>
					    <th style="width:30%">Team</th>
					    <th style="width:10%"></th>
					</tr>
				</thead>	
				<tbody>
					<tr *ngFor = "let player of Players | filter : searchText" >
					    <td style="width:21.5%">{{player.name}}</td>
					    <td style="width:15%">{{player.role}}</td>
					    <td style="width:22.5%">{{player.Nationality}}</td>
					    <td *ngIf="player.IsUncapped" style="width:5%">UnC</td>
					    <td *ngIf="!player.IsUncapped" style="width:5%">Cp</td>
					    <td style="width:14%">{{player.cost}}</td>
					    <td *ngIf="player.team =='Mumbai Indians'" style="width:30%">MI</td>
					    <td *ngIf="player.team =='Chennai Super Kings'" style="width:30%">CSK</td>
					    <td *ngIf="player.team =='Delhi Daredevils'" style="width:30%">DD</td>
					    <td style="width:10%"><button (click)="addPlayer(player)"><span class="glyphicon glyphicon-plus"></span></button></td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
	<div class="col-md-12">
      <div class="row">
      	
      </div>
  </div>
  </div>
</div>
